<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}">
    <title>Main</title>
</head>

<body>
    <div class="text-right">
        <a href="{{url_for('cart')}}">Cart ({{(cart|length)}})</a><br>
        <a href="{{url_for('settings')}}">Settings</a><br>
        <a href="{{url_for('logout')}}">Sign out</a><br>
        <style>
            h1 {
                text-align: center;
            }
        </style>
        <h1>Ikea Furniture Website</h1>
    </div>

    <table class="center">
        <tr>
            <th>ID</th>
            <th>
                <form method="POST">Name <input name="sort_parameter" value="name" type="hidden" />
                    {% if sort_parameter == "name" %}
                    <button name="sort_method" value="{{sort_method}}">{{sort_method}}<br></button>
                    {% else %}
                    <button name="sort_method" value="🔽">🔽<br></button>
                    {% endif %}
                </form>
            </th>
            <th>
                <form method="POST">Category <input name="sort_parameter" value="category_name" type="hidden" />
                    <input name="query" value="{{query}}" type="text" />&nbsp;
                    {% if sort_parameter == "category_name" %}
                    <button name="sort_method" value="{{sort_method}}">{{sort_method}}<br></button>
                    {% else %}
                    <button name="sort_method" value="🔽">🔽<br></button>
                    {% endif %}
                </form>
            </th>
            <th>
                <form method="POST">Description <input name="sort_parameter" value="short_description" type="hidden" />
                    {% if sort_parameter == "short_description" %}
                    <button name="sort_method" value="{{sort_method}}">{{sort_method}}<br></button>
                    {% else %}
                    <button name="sort_method" value="🔽">🔽<br></button>
                    {% endif %}
                </form>
            </th>
            <th>
                <form method="POST">Price <input name="sort_parameter" value="price" type="hidden" />
                    {% if sort_parameter == "price" %}
                    <button name="sort_method" value="{{sort_method}}">{{sort_method}}<br></button>
                    {% else %}
                    <button name="sort_method" value="🔽">🔽<br></button>
                    {% endif %}
                </form>
            </th>
        </tr>

        {% for product in products %}
        <tr>
            <td><a href="{{url_for('product', id=product[0])}}">{{product[0]}}</a></td>
            <td>{{product[1]}}</td>
            <td>{{product[2]}}</td>
            <td id="description">{{product[3]}}</td>
            <td>${{product[4]}}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>