th,
td {
    padding: 10px;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

#description {
    text-align: left;
}

.center {
    margin-left: auto;
    margin-right: auto;
  }

.text-right {
    text-align: right;
}
  